@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --primary-color: rgb(48,51,107);
    --secondary-color: #be2edd;
}

* {
    box-sizing: border-box;
}

body {
font-family: "VT323", monospace;
margin: 0;
}


