@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


body {
    background-color: white;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.btn {
    background-color: NavajoWhite;
    font-size: 1.2rem;
    padding: 1.5rem 3rem;
    margin: 1rem;
    border-radius: 50px;
    border: none;
    flex: 0.5;
    cursor: pointer;
    font-family: font-family: "VT323", monospace;
}

.btn:hover {
    opacity: 0.9;
}
